<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="core">
    <script src="/plugins/jQuery/jquery.min.js" th:src="@{/plugins/jQuery/jquery.min.js}"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js" th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
    <script src="/plugins/slick/slick.min.js" th:src="@{/plugins/slick/slick.min.js}"></script>
    <script src="/plugins/aos/aos.js" th:src="@{/plugins/aos/aos.js}"></script>
    <script src="/plugins/venobox/venobox.min.js" th:src="@{/plugins/venobox/venobox.min.js}"></script>
    <script src="/plugins/filterizr/jquery.filterizr.min.js" th:src="@{/plugins/filterizr/jquery.filterizr.min.js}"></script>
    <script src="/js/script.js" th:src="@{/js/script.js}"></script>
</th:block>
</body>
</html>
