<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('My Courses')}"></head>

<body>
<!-- preloader start -->
<div class="preloader">
    <img src="/images/preloader.gif" alt="preloader" th:src="@{/images/preloader.gif}">
</div>
<!-- preloader end -->

<!-- header -->
<div th:replace="fragments/headerAndFooter :: header"></div>
<!-- /header -->

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="index.html"
                                                    th:href="@{/}">Home</a>
                    </li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">My Courses</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="courses-list pb40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-8 col-xl-12 shadow_box">
                <div class="row courses_list_heading">
                    <div class="col-xl-4 p0">
                        <div class="instructor_search_result style2">
                            <p th:unless="${coursesByUserId.size() == 1}" class="mt10 fz15"><span class="color-dark pr10"
                                                       th:text="${coursesByUserId.size()}"></span>Courses</p>
                            <p th:if="${coursesByUserId.size() == 1}" class="mt10 fz15"><span class="color-dark pr10"
                                                       th:text="${coursesByUserId.size()}"></span>Course</p>
                        </div>
                    </div>
                </div>

                <!--Courses-->
                <div class="row justify-content-center courses-grid">
                    <div th:each="studentCourse : ${coursesByUserId}" class="col-lg-4 col-sm-6 mb-5">
                        <div class="card p-0 border-primary rounded-0 hover-shadow course-list-card h-100">
                            <div class="course-card-thumb">
                                <img class="course-card-img" src="#"
                                     th:src="${studentCourse.course.topic.imgUrl}"
                                     th:attr="onerror=|this.onerror=null;this.src='@{${defaultCourseImage}}';|"
                                     th:alt="${studentCourse.course.title}" alt="">
                            </div>
                            <div class="card-body">
                                <div class="course-card-meta d-flex justify-content-between align-items-center mb-2">
                                    <span class="ti-calendar text-color"
                                          th:text="${' ' + studentCourse.course.startingDate}">02-14-2018</span>
                                    <ul class="list-inline mb-0 course-card-stars">
                                        <li th:each="star : ${#numbers.sequence(1, 5)}"
                                            class="list-inline-item">
                                            <i class="fa fa-star"
                                               th:classappend="${star <= studentCourse.course.avgRating.intValue()} ? ' color-golden' : ' color-gray'"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="course-card-content">
                                    <p class="mb-1"
                                       th:text="${studentCourse.course.teacher.firstName + ' ' + studentCourse.course.teacher.lastName}">Teacher</p>
                                    <h5 class="course-card-title" th:text="${studentCourse.course.title}">Course title</h5>
                                    <h6 class="text-muted mb-0" th:text="${studentCourse.course.topic.topicName}">Topic</h6>
                                </div>
                                <a class="btn btn-primary btn-sm course-list-card-btn mt-3"
                                   th:href="@{/courses/{publicId}(publicId=${studentCourse.course.publicId})}">Proceed To Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<div th:replace="fragments/headerAndFooter :: footer"></div>
<!-- /footer -->


<script>
    //Call jQuery before below code
    $('.main-btn').click(function () {
        $('.search-description').slideToggle(100);
    });
    $('.search-description li').click(function () {
        var target = $(this).html();
        var toRemove = 'By ';
        var newTarget = target.replace(toRemove, '');
        //remove spaces
        newTarget = newTarget.replace(/\s/g, '');
        $(".search-large").html(newTarget);
        $('.search-description').hide();
        $('.main-input').hide();
        newTarget = newTarget.toLowerCase();
        $('.main-' + newTarget).show();
    });
    $('#main-submit-mobile').click(function () {
        $('#main-submit').trigger('click');
    });
    $(window).resize(function () {
        replaceMatches();
    });

    function replaceMatches() {
        var width = $(window).width();
        if (width < 516) {
            $('.main-location').attr('value', 'City or postal code');
        } else {
            $('.main-location').attr('value', 'Search by city or postal code');
        }
    };
    replaceMatches();

    function clearText(thefield) {
        if (thefield.defaultValue === thefield.value) {
            thefield.value = ""
        }
    }

    function replaceText(thefield) {
        if (thefield.value === "") {
            thefield.value = thefield.defaultValue
        }
    }
</script>

</body>
</html>

