<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Teachers')}"></head>
<body>

<div class="preloader">
  <img src="/images/preloader.gif" alt="preloader" th:src="@{/images/preloader.gif}">
</div>

<div th:replace="fragments/headerAndFooter :: header"></div>

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg"
         th:attr="data-background=@{/images/backgrounds/page-title.jpg}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" th:href="@{/}">Home</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Our teachers</li>
        </ul>
        <p class="text-lighten mb-0">Meet the teachers who lead our courses.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div th:if="${#lists.isEmpty(teachers)}" class="lectures-empty-state">
      <i class="ti-user lecture-notes-empty-icon"></i>
      <p>No teachers to display yet.</p>
    </div>

    <div th:unless="${#lists.isEmpty(teachers)}" class="row">
      <div th:each="teacher : ${teachers}" class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0 rounded-0 hover-shadow teacher-list-card h-100">
          <div class="teacher-list-card-thumb">
            <img class="teacher-list-card-img"
                 th:src="${teacher.image}"
                 th:alt="${teacher.firstName + ' ' + teacher.lastName}"
                 th:attr="onerror=|this.onerror=null;this.src='@{${defaultAvatarImage}}';|">
          </div>
          <div class="card-body">
            <a th:href="@{/about/teachers/{publicId}(publicId=${teacher.publicId})}">
              <h4 class="card-title mb-0" th:text="${teacher.firstName + ' ' + teacher.lastName}">Teacher Name</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:replace="fragments/headerAndFooter :: footer"></div>


</body>
</html>
