<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Edit profile</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/plugins/cropper/cropper.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/styleUsers.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
</head>
<body>

<header class="fixed-top header"></header>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content rounded-0 border-0 p-4" id="edit">
    <div class="modal-header border-0">
      <h3 style="text-align: center">Edit profile</h3>
    </div>
    <div class="modal-body">
      <p th:if="${profileSaved}" class="text-success">Profile saved successfully.</p>
      <p th:if="${imageUploaded}" class="text-success">Profile image updated successfully.</p>

      <div class="col-12 profile-image-section">
        <h4>Profile image</h4>
        <img id="profileImagePreview" class="profile-image-preview" th:src="${profileImageUrl}" alt="Profile">
        <div class="file-upload-control">
          <input type="file" class="file-upload-input" id="profileImageInput"
                 accept="image/jpeg,image/png,image/gif,image/webp,.jpg,.jpeg,.png,.gif,.webp">
          <button type="button" class="btn btn-outline-secondary btn-sm" id="profileImageChooseBtn">Choose image</button>
          <span id="profileImageFileName" class="file-upload-name">No file selected</span>
        </div>
        <p class="profile-crop-hint">Optional: choose a photo and crop it. It will be saved when you click Save.</p>
      </div>

      <form class="row" th:action="@{/users/{publicId}/update(publicId=${publicId})}" th:object="${user}"
            method="post" id="profileForm">
        <div class="col-12 mt-3">
          <input type="text" class="form-control mb-3" id="editFirstname" placeholder="First Name" th:field="*{firstName}">
          <label class="error" th:errors="*{firstName}">First name error</label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control mb-3" id="editLastname" placeholder="Last Name" th:field="*{lastName}">
          <label class="error" th:errors="*{lastName}">Last name error</label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control mb-3" id="editPassword" placeholder="Password" th:field="*{password}"/>
          <label class="error" th:errors="*{password}">Password error</label>
        </div>
        <div class="col-12" th:if="${session.isAdmin}">
          <select class="form-control mb-3" name="role">
            <option th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}"></option>
          </select>
        </div>

        <div class="col-12 profile-form-actions">
          <button type="submit" class="btn btn-primary" id="profileSaveBtn">Save</button>
          <a class="btn btn-outline-secondary" th:href="@{/}">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade profile-crop-modal" id="profileCropModal" tabindex="-1" role="dialog" aria-labelledby="profileCropModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileCropModalLabel">Crop profile image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="profile-crop-hint mb-2">Drag to reposition. Resize the crop box to choose what appears in your profile.</p>
        <div class="profile-crop-container">
          <img id="profileCropImage" alt="Image to crop">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="profileCropCancelBtnFooter">Cancel</button>
        <button type="button" class="btn btn-primary" id="profileCropApplyBtn">Use cropped image</button>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/plugins/jQuery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugins/cropper/cropper.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/profile-image-cropper.js}"></script>
<script th:inline="javascript">
  initProfileImageCropper({
    inputId: 'profileImageInput',
    chooseBtnId: 'profileImageChooseBtn',
    formId: 'profileForm',
    fileNameId: 'profileImageFileName',
    previewId: 'profileImagePreview',
    modalId: 'profileCropModal',
    cropImageId: 'profileCropImage',
    applyBtnId: 'profileCropApplyBtn',
    cancelBtnId: 'profileCropCancelBtnFooter',
    saveBtnId: 'profileSaveBtn',
    maxBytes: /*[[${maxProfileImageBytes}]]*/ 20971520,
    outputSize: 512
  });
</script>
</body>
</html>
